<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(231, 231, 231);">
    
    <header>
    <nav class="navigation">
        <div class="list"><a href="/listing/new">List Item</a></div>
        <div class="logo"><a href="/users"><img src="https://i.ibb.co/9hcwcCg/Closet-Sheep-1.png" alt="Closet-Sheep-1" width="100" height="100"></a></div>
        <button class="Log-in"></button>
    </nav>
    </header>
    
    <form class="signup" method="POST" action="/users/new/<%= user._id %>?_method=PUT"> 
        <fieldset>
            <label for="firstName">First Name: </label>
            <input id="firstName" type="text" name="firstName">
        </fieldset>
        <fieldset>
            <label for="lastName">Last Name: </label>
            <input id="lastName" type="text" name="lastName">
        </fieldset>
        <fieldset>
            <label for="email">E-mail: </label>
            <input id="email" type="email" name="email">
        </fieldset>
        <fieldset>
            <label for="password">Password: </label>
            <input id="password" type="password" name="password">
        </fieldset>
    
        <input type="submit" value="submit">
</body>
</html>