<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" >
    <title>Document</title>
    
</head>
<body style="background-color: rgb(231, 231, 231);">
  
    <header>
        <nav class="navigation">
            <div class="list"><a href="/closets/new">List Item</a></div>
            <div class="logo"><a href="/users"><img src="https://i.ibb.co/9hcwcCg/Closet-Sheep-1.png" alt="Closet-Sheep-1" width="100" height="100"></a></div>
            <button class="Log-in"></button>
        </nav>
        </header>
        <form id="newListing" method="POST" action="/closets">
        <input name="user" type="text">
        <div class="new-post">
            <div class="form-box new">
                <h2>New Listing</h2>
                  <label>Title:</label>
                  <input name="title" required>
            </div>
            <div class="input-box">
                <label>Description:</label>  
                <input name="description" required>
            </div>  
            <div class="input-box">                
                <label>Size:</label>
                <input name="size" required>
          </div>  
          <div class="input-box">           
            <label>Price:</label>
            <input name="price" required>
          </div>  
          <div class="input-box">
            <label>img URL:</label>
            <input name="image" required>
          </div>
            <button type="submit" class="btn">Create Listing</button>
          </div>
          </form> 
</body>
</html>